In [1]:
import pandas as pd

df = pd.DataFrame({'num_legs': [2, 4, 8, 0],
...                    'num_wings': [2, 0, 0, 0],
...                    'num_specimen_seen': [10, 2, 1, 8]},
...                   index=['falcon', 'dog', 'spider', 'fish'])

In [16]:
input = pd.DataFrame({'email': 
                   ['joe@sample.com', 'jane@sample.com', 'jack@sample.com', 
                    'joe@sample.com', 'jane@sample.com', 'jack@sample.com', 'jerk@sample.com'],
                  'date': ['jan 1 2019', 'jan 2 2019', 'jan 1 2019',
                           'july 2, 2019', 'july 1 2019', 'july 1, 2019', 'july 1, 2019'],
                  'are you happy?': ["yes", "no", "no", "yes", "yes", "yes", "no"],
                  'are you smart?': ['no', 'no', 'no', 'yes', 'yes' , 'yes', 'yes']})

In [20]:
output = pd.DataFrame({'question': ['are you happy?', 'are you smart?'],
                       'change score': [+0.6, +1]})

In [18]:
input

             email          date are you happy? are you smart?
0   joe@sample.com    jan 1 2019            yes             no
1  jane@sample.com    jan 2 2019             no             no
2  jack@sample.com    jan 1 2019             no             no
3   joe@sample.com  july 2, 2019            yes            yes
4  jane@sample.com   july 1 2019            yes            yes
5  jack@sample.com  july 1, 2019            yes            yes
6  jerk@sample.com  july 1, 2019             no            yes

In [19]:
output

         question  change score
0  are you happy?           0.3
1  are you smart?           1.0